project/integrations/KNX_IMPORT_AP_INVOICE_01.00.0000/resources/processor_1085/resourcegroup_1100/generated.wsdl

<wsdl:definitions targetNamespace="http://xmlns.oracle.com/cloud/adapter/ftp/getAPInvoiceListFile_REQUEST" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://xmlns.oracle.com/cloud/adapter/ftp/getAPInvoiceListFile_REQUEST/types" xmlns:ns1="http://xmlns.oracle.com/cloud/adapter/ftp/getAPInvoiceListFile_REQUEST" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns2="http://xmlns.oracle.com/cloud/adapter/ftp/getAPInvoiceListFile_REQUEST/types" xmlns:ns3="http://xmlns.oracle.com/cloud/adapter/ftp/getAPInvoiceListFile_REQUEST" xmlns:ns4="http://xmlns.oracle.com/cloud/adapter/ftp/getAPInvoiceListFile_REQUEST/types" xmlns:ns5="http://xmlns.oracle.com/cloud/adapter/ftp/getAPInvoiceListFile_REQUEST" xmlns:ns6="http://xmlns.oracle.com/cloud/adapter/ftp/getAPInvoiceListFile_REQUEST/types" xmlns:ns7="http://xmlns.oracle.com/cloud/adapter/ftp/getAPInvoiceListFile_REQUEST" xmlns:ns8="http://xmlns.oracle.com/cloud/adapter/ftp/getAPInvoiceListFile_REQUEST/types" xmlns:ns9="http://xmlns.oracle.com/cloud/adapter/ftp/getAPInvoiceListFile_REQUEST"><wsdl:types><xs:schema xmlns="http://xmlns.oracle.com/cloud/list/pull" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/cloud/list/pull" xmlns:tns="http://xmlns.oracle.com/cloud/list/pull"><xs:element name="File" type="tns:File"/><xs:complexType name="File">                <xs:sequence>                    <xs:element name="directory" type="xs:string"/>                    <xs:element name="filename" type="xs:string"/>                    <xs:element name="lastModifiedTime" type="xs:string"/>                    <xs:element name="creationTime" type="xs:string"/>                    <xs:element name="size" type="xs:string"/>                </xs:sequence>            </xs:complexType></xs:schema></wsdl:types></wsdl:definitions>