project/integrations/SM_EMPLOYEE_STORED_PROCEDUR_01.00.0000/resources/application_38/inbound_39/resourcegroup_40/atpMergeEmployee_REQUEST.xsd

<schema targetNamespace="http://xmlns.oracle.com/cloud/adapter/atpdatabase/atpMergeEmployee_REQUEST/types" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/cloud/adapter/atpdatabase/atpMergeEmployee_REQUEST/types" elementFormDefault="qualified">   <element name="InputParameters">      <complexType>         <sequence>            <element name="P_EMPLOYEE_NUMBER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_EMPLOYEE_NAME" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_EMPLOYEE_EMAIL" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_EMPLOYEE_STATUS" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_DEPARTMENT_NUMBER" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_DEPARTMENT_NAME" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_DEPARTMENT_STATUS" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_LOCATION_NUMBER" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_LOCATION_NAME" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>            <element name="P_LOCATION_STATUS" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>         </sequence>      </complexType>   </element></schema>