project/integrations/KNEX_READ_WORKDAY_FILES_01.00.0000/resources/processor_53/resourcegroup_68/generated.wsdl

<wsdl:definitions targetNamespace="http://xmlns.oracle.com/cloud/adapter/ftp/listWorkdayFiles_REQUEST" xmlns:ns0="http://xmlns.oracle.com/cloud/adapter/ftp/listWorkdayFiles_REQUEST/types" xmlns:ns1="http://xmlns.oracle.com/cloud/adapter/ftp/listWorkdayFiles_REQUEST" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><wsdl:types><xs:schema xmlns="http://xmlns.oracle.com/cloud/list/pull" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/cloud/list/pull" xmlns:tns="http://xmlns.oracle.com/cloud/list/pull"><xs:element name="File" type="tns:File"/><xs:complexType name="File">                <xs:sequence>                    <xs:element name="directory" type="xs:string"/>                    <xs:element name="filename" type="xs:string"/>                    <xs:element name="lastModifiedTime" type="xs:string"/>                    <xs:element name="creationTime" type="xs:string"/>                    <xs:element name="size" type="xs:string"/>                </xs:sequence>            </xs:complexType></xs:schema></wsdl:types></wsdl:definitions>